/* header */
.header { display: flex; justify-content: space-between; align-items: center; height: 100px; padding: 0 50px; background: #fff; }
.gnb ul { display: flex; }
.gnb ul li a { display: block; width: 160px; color: #212121; font-family: "Gmarket Sans"; font-size: 1.25rem; letter-spacing: -0.01em; line-height: 1; text-align: center; }
.header_utils { display: flex; align-items: center; gap: 20px; }
.header_utils .link_btn { display: flex; justify-content: center; align-items: center; height: 45px; padding: 10px 25px; border: 1px solid #0c6b97; border-radius: 2em; }
.header_utils .link_btn span { color: #0c6b97; font-family: "Gmarket Sans"; font-weight: 500; font-size: 1.125rem; letter-spacing: -0.03em; line-height: 1.4; }
.header_utils .search_btn { display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; background: #1197d5; border-radius: 50%; }
.header_utils .menu_btn { display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; background: #212121; border-radius: 50%; }
/* mv */
.main_visual { position: relative; display: flex; align-items: center; height: 770px; background: url(img/gettyimages_a12566459_1.png) no-repeat center/cover; }
.main_visual_inner { display: flex; justify-content: space-between; width: 100%; max-width: 1600px; margin: 0 auto; padding: 0 160px; }
.text_area { display: flex; flex-direction: column; }
.text_area .tag { display: flex; }
.text_area .tag span { padding: 0 24px 0 16px; height: 36px; line-height: 36px; font-family: 'Gmarket Sans'; font-size: 1.25rem; letter-spacing: -0.03em; color: #fff; background-color: #0e80b5; border-radius: 16px 100px 100px 0px; }
.text_area h2 { margin-top: 16px; color: #fff; font-size: 3.125rem; line-height: 1.4; letter-spacing: -0.03em; }
.text_area h2 .gmarket_m { font-family: 'Gmarket Sans'; font-weight: 500; }
.text_area h2 .gmarket_r { font-family: 'Gmarket Sans'; font-weight: 400; font-size: 2.75rem; }
.text_area .btn_more { display: flex; align-items: center; gap: 8px; margin-top: 30px; padding: 15px 30px; background-color: #fff; border-radius: 2em; width: 175px; }
.text_area .btn_more span { font-size: 1.0625rem; font-weight: 600; letter-spacing: -0.03em; color: #424242; }
.text_area .btn_more .icon_arrow { width: 32px; height: 10px; background-color: #424242; }
.card_area { width: 900px; }
.slide_navigation { position: absolute; bottom: 110px; right: 340px; display: flex; gap: 20px; }
.slide_navigation button { width: 45px; height: 45px; border-radius: 50%; background: rgba(255,255,255,0.5); border: 1px solid #fff; display: flex; justify-content: center; align-items: center; }
/* sec_1 추천코스 */
.main_sec_1 { position:relative;  }
.main_sec_1 .bg_img_area { position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1; }
.main_sec_1 .bg_img_area img { width:100%; height:100%; object-fit:cover; }
.main_sec_1_inner { display:flex; flex-direction:column; padding:140px 50px; gap:70px; }
.main_sec_1 .tit_wrap { display:flex; flex-direction:column; align-items:center; gap:40px; }
.main_sec_1 .tit_box { display:flex; flex-direction:column; align-items:center; gap:10px; }
.main_sec_1 .tit_main { display:flex; align-items:center; gap:10px; }
.main_sec_1 .tit_main span { font-family:'Gmarket Sans', sans-serif; font-size:2.8125rem; line-height:1.3; letter-spacing:-0.03em; color:#1d1d1d; }
.main_sec_1 .highlight { display:flex; align-items:center; }
.main_sec_1 .highlight span { font-family:'Gmarket Sans', sans-serif; font-weight:500; font-size:2.8125rem; line-height:1.3; letter-spacing:-0.03em; color:#f58220; }
.main_sec_1 .highlight .img_area {  }
.main_sec_1 .sub_tit { font-family:'Gmarket Sans', sans-serif; font-size:1.25rem; line-height:1.4; letter-spacing:-0.03em; color:#616161; }
.main_sec_1 .tag_wrap { display:flex; align-items:center; gap:25px; }
.main_sec_1 .arrow_l, .main_sec_1 .arrow_r {  }
.main_sec_1 .tag_list { display:flex; gap:16px; }
.main_sec_1 .tag_list li a { display:block; padding:0px 18px; height:40px; line-height:40px; border-radius:2em; font-family:'Gmarket Sans', sans-serif; font-size:1rem; letter-spacing:-0.01em; }
.main_sec_1 .tag_list li a.active { background:#f58220; color:#fff; font-weight:500; }
.main_sec_1 .tag_list li a:not(.active) { background:#ebebeb; color:#343434; }
.main_sec_1 .course_list { display:flex; justify-content:center; gap:25px; }
.main_sec_1 .course_list li {  background:#f5f5f5; border-radius:30px; overflow:hidden; }
.main_sec_1 .course_list li .img_area { height:370px; }
.main_sec_1 .course_list li .img_area img { width:100%; height:100%; object-fit:cover; }
.main_sec_1 .course_list li .txt_box { display:flex; flex-direction:column; align-items:center; justify-content:center; gap:12px; height:110px; }
.main_sec_1 .course_list li strong { font-weight:700; font-size:1.5625rem; line-height:1; letter-spacing:-0.02em; color:#212121; text-align:center; }
.main_sec_1 .course_list li span { font-size:1.0625rem; line-height:1.3; letter-spacing:-0.02em; color:#424242; text-align:center; }
/* sec_2 지원절차 */
.main_sec_2 { position:relative; width:100%; height:915px; }
.main_sec_2_bg { position:absolute; top:0; left:0; width:100%; height:100%; }
.main_sec_2_bg img { width:100%; height:100%; object-fit:cover; }
.main_sec_2_inner { display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; height:100%; padding:140px 240px; box-sizing:border-box; gap:70px; position:relative; }
.main_sec_2_tit { display:flex; flex-direction:column; align-items:center; gap:10px; }
.main_sec_2_tit h2 { display:flex; gap:10px; font-family:'Gmarket Sans'; font-size:2.8125rem; line-height:1.3; letter-spacing:-0.03em; }
.main_sec_2_tit h2 span { color:#1d1d1d; }
.main_sec_2_tit h2 .point { font-weight:500; color:#1197d5; }
.main_sec_2_tit p { font-family:'Gmarket Sans'; font-size:1.25rem; line-height:1.4; letter-spacing:-0.03em; color:#616161; }
.main_sec_2_list { display:flex; justify-content:center; gap:40px; }
.main_sec_2_list li { display:flex; flex-direction:column; align-items:center; }
.main_sec_2_list li .img_area {  border-radius:31px; overflow:hidden; }
.main_sec_2_list li .img_area img { width:100%; height:100%; object-fit:cover; }
.main_sec_2_list li .txt_box { display:flex; flex-direction:column; align-items:center; margin-top:-25px; position:relative; gap:15px; }
.main_sec_2_list li .txt_box .num { display:flex; justify-content:center; align-items:center;  background:#009dff; border-radius:50%; font-family:'Gmarket Sans'; font-weight:500; font-size:1.25rem; line-height:1.4; letter-spacing:-0.03em; color:#fff; }
.main_sec_2_list li .txt_box .txt { font-weight:600; font-size:1.25rem; line-height:1.4; letter-spacing:-0.03em; color:#343434; text-align:center; }
.main_sec_2_list li .txt_box .txt .point { color:#1197d5; }
.main_sec_2_link { display:flex; justify-content:center; align-items:center;  background:#fff; border:1px solid #1197d5; border-radius:2em; font-family:'Gmarket Sans'; font-weight:500; font-size:1.125rem; line-height:1.4; letter-spacing:-0.03em; color:#1197d5; text-align:center; }
/* sec_3 커뮤니티+배너 */
.main_sec_3 { display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; padding: 140px 50px; }
.main_sec_3 .main_container { display: flex; flex-direction: row; gap: 50px; width: 100%; }
.main_sec_3 .main_notice_area { display: flex; flex-direction: column; gap: 70px; flex: 1; }
.main_sec_3 .main_banner_area { display: flex; flex-direction: column; gap: 70px; flex: 1; }
.main_sec_3 .main_tit_wrap { display: flex; flex-direction: column; gap: 25px; }
.main_sec_3 .main_tit_wrap .main_tit { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
.main_sec_3 .main_tit_wrap .main_tit span { font-family: 'Gmarket Sans'; font-size: 2.8125rem; line-height: 1.3; letter-spacing: -0.03em; color: #1d1d1d; }
.main_sec_3 .main_tit_wrap .main_tit span.point { font-weight: 500; color: #1197d5; }
.main_sec_3 .main_tit_wrap p { font-family: 'Gmarket Sans'; font-size: 1.25rem; line-height: 1.4; letter-spacing: -0.03em; color: #616161; }
.main_sec_3 .main_notice_area .main_tit_wrap { border-bottom: 1px solid #9e9e9e; padding-bottom: 20px; }
.main_sec_3 .main_notice_area .main_tit { flex-direction: row; gap: 10px; align-items: center; }
.main_sec_3 .main_tab_wrap { display: flex; justify-content: space-between; align-items: flex-end; }
.main_sec_3 .main_tabs { display: flex; flex-direction: row; gap: 15px; align-items: center; }
.main_sec_3 .main_tabs a { display: flex; justify-content: center; align-items: center; height: 55px; padding: 0 20px; font-family: 'Gmarket Sans'; font-weight: 500; font-size: 1.875rem; line-height: 2; letter-spacing: -0.03em; color: #212121; text-decoration: none; }
.main_sec_3 .main_tabs a.active { border: 1px solid #084460; background-color: #084460; color: #fff; }
.main_sec_3 .main_btn_more { display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; background: #212121; border-radius: 50%; }
.main_sec_3 .main_notice_list { display: flex; flex-wrap: wrap; gap: 30px; }
.main_sec_3 .main_notice_item { display: flex; flex-direction: column; gap: 22px; width: calc(50% - 15.5px); padding: 30px; background: #fff; border: 1px solid #e0e0e0; border-radius: 20px; text-decoration: none; }
.main_sec_3 .main_notice_item span { font-size: 1rem; line-height: 1.4; letter-spacing: -0.02em; color: #757575; text-decoration: underline; }
.main_sec_3 .main_banner_area .main_tit_wrap { display: flex; flex-direction: column; gap: 25px; padding-bottom: 20px; border-bottom: 1px solid #9e9e9e; position: relative; }
.main_sec_3 .main_banner_area .main_btn_more { position: absolute; right: 0; bottom: 20px; }
.main_sec_3 .main_banner_list { display: flex; flex-direction: row; gap: 32px; }
.main_sec_3 .main_banner_item { width: 100%; }
.main_sec_3 .main_banner_item .main_img_area { width: 100%; border-radius: 40px; overflow: hidden; }
.main_sec_3 .main_banner_item .main_img_area img { width: 100%; }
/* footer */
.footer { display: flex; flex-direction: column; gap: 10px; padding: 50px 240px; background-color: #f5f5f5; }
.footer_top { display: flex; justify-content: space-between; align-items: center; }
.logo_area { display: flex; flex-direction: column; }
.logo_text { color: #424242; font-size: 1.375rem; line-height: 1.4; letter-spacing: -0.03em; }
.logo_text strong { font-weight: 500; }
.logo_main { display: flex; align-items: center; gap: 16px; }
.logo_symbol { display: flex; align-items: center; }
.symbol_text_1 { color: #f58220; font-family: "Gmarket Sans"; font-weight: 500; font-size: 1.625rem; line-height: 1.2; }
.symbol_graphic { position: relative; width: 52px; height: 60px; background-color: #1d9741; }
.symbol_text_2 { position: absolute; left: 6px; top: 15px; color: #fff; font-family: "NanumSquareRound"; font-weight: 800; font-size: 1.375rem; line-height: 1.4; letter-spacing: -0.03em; }
.symbol_text_3 { color: #212121; font-family: "Gmarket Sans"; font-weight: 500; font-size: 1.625rem; line-height: 1.2; }
.logo_symbol .img_area { width: 23px; height: 19px; }
.logo_title { font-family: "Gmarket Sans"; font-size: 2.5rem; line-height: 1.4; letter-spacing: -0.03em; }
.logo_title strong { color: #f58220; font-weight: 500; }
.arrow_icon { width: 44px; height: 12px; background-color: #212121; }
.social_list { display: flex; gap: 15px; }
.social_list li a { display: flex; justify-content: center; align-items: center; width: 55px; height: 55px; border-radius: 50%; }
.social_link.instagram { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%); }
.social_link.facebook { background-color: #4169af; }
.social_link.kakao { background-color: #ffca28; }
.social_link.youtube { background-color: #d72e2e; }
.footer_nav_banner { display: flex; justify-content: space-between; align-items: center; padding: 0 40px; background-color: #084460; border-radius: 2em; height: 60px; }
.banner_menu { display: flex; align-items: center; gap: 16px; }
.banner_menu li a { color: #fff; font-size: 1rem; line-height: 1; letter-spacing: -0.01em; }
.banner_menu li:not(:last-child)::after { content: ''; display: inline-block; width: 4px; height: 4px; margin-left: 16px; background-color: rgba(255,255,255,0.2); border-radius: 50%; vertical-align: middle; }
.family_site { display: flex; align-items: center; gap: 40px; }
.family_site::before { content: ''; width: 2px; height: 24px; background-color: #7f85a2; }
.family_site a { display: flex; align-items: center; gap: 61px; color: #fff; font-size: 1rem; line-height: 1; letter-spacing: -0.01em; }
.arrow_down { width: 11px; height: 7px; background-color: #fff; clip-path: polygon(0 0, 100% 0, 50% 100%); }
.footer_bottom { display: flex; flex-direction: column; gap: 25px; padding: 0 40px; }
.footer_policy ul { display: flex; gap: 16px; }
.footer_policy ul li a strong { color: #212121; font-size: 0.9375rem; line-height: 1; font-weight: 500; }
.footer_info { display: flex; flex-direction: column; gap: 10px; font-style: normal; color: #616161; font-size: 0.9375rem; line-height: 1.2; letter-spacing: -0.01em; }
.operating_hours { font-weight: 600; }
.notice { color: #0c6b97; font-weight: 600; }
.copyright { color: #616161; font-size: 0.9375rem; line-height: 1.2; letter-spacing: -0.01em; }
/* quick */
.quick_menu { position:fixed; top:50%; right:20px; transform:translateY(-50%); z-index:100; }
.quick_menu ul { display:flex; flex-direction:column; gap:10px; }
.quick_menu li a { display:flex; flex-direction:column; justify-content:center; align-items:center;  background:#fff; border:1px solid #e0e0e0; border-radius:8px; gap:8px; text-decoration:none; box-sizing:border-box; padding:8px 0; }
.quick_menu li:last-of-type a { background:#0052CC; border:0; }
.quick_menu li a img {  object-fit:contain; }
.quick_menu li a span { font-weight:600; font-size:0.875rem; line-height:1.4; letter-spacing:-0.04em; color:#212121; }
.quick_menu li:last-of-type a span { color:#fff; }