.vs_list { margin: 0; padding: 0; list-style: none; }
.vs_list li { position: relative; font-family: "Noto Sans KR", sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; color: #312d2b; letter-spacing: 0; }
.vs_list li::before { color: #999999; content: "\2022"; }
